.burger-menu{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  height: 20px;
  width: 40px;
  z-index: 3;
  cursor: pointer;
  div{
    height: 1px;
    width: 70%;
    background-color: white;
    transition: all 0.3s ease-in-out
  }
  .barre-bottom{
    width: 50%;
  }
  @media screen and (min-width:700px){
    display: none;
  }
}

