/******************Section Welcome***************/
.welcome{
  background: url(http://cepegra-labs.be/webdesign/fed2022/laurent/css/exos/21-makena/img/palm-bg.jpg) center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  @media screen and (min-width:700px){
    flex-direction: row;
  }
  .welcome-img{
    img{
      width: 100%;
      display: block;
      @media screen and (min-width:700px){
        // height: 580px;
        width: 60vw;
      }
    }
  }
  .welcome-content{
    background-color: white;
    width: 100%;
    padding: 40px 0px 60px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    h2{
      margin: 40px 0;
    }
    @media screen and (min-width:700px){
      margin-left: -100px;
      height: 500px;
      width: 480px;
      padding-right: 30px;
    }
  }
}
/******************Section Sustainable***************/
.sustainable-family{
  background-color: white;
  padding: 80px 50px;
  p{
    color: $couleur-primaire;
    line-height: 1.9;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-top: 50px;
    align-self: flex-start;
  }
  h2{
    align-self: flex-start;
  }
  @media screen and (min-width:700px){
    padding: 200px 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 250px;
    p{
      width: 35%;
      font-size: 16px;
      margin-top: 0;
    }
    h2{
      width: 35%;
      margin-top: 0;
    }
  }
}
/******************Section Ocean Pic***************/
.ocean-pic{
  height: 80vh;
  width: 100%;
  background: url(http://cepegra-labs.be/webdesign/fed2022/laurent/css/exos/21-makena/img/makena.jpg) center;
  background-size: cover;
  @media screen and (min-width:700px){
    height: 100vh;
  }
}
/******************Section Aloha***************/
.aloha{
  background-color: #f3fafc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 50px;
  overflow: hidden;
  .aloha-txt{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .aloha-img{
    display: flex;
    justify-content: center;
    img{
      height: 65vh;
      box-shadow: 60px 160px rgb(187, 187, 187);
    }
  }
  p{
    padding-bottom: 100px;
    color: $couleur-primaire;
    line-height: 1.9;
    font-size: 14px;
  }
  @media screen and (min-width:700px){
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 200px;
    padding-left: 140px;
    padding-right: 140px;
    p{
      font-size: 16px;
    }
  }
}
/******************Section Unparalleled***************/
.unparalleled{
  background-color: #f3fafc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 100px 30px 100px;
  .unparalleled-txt{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // padding-top: 100px;
  }
  .unparalleled-img{
    display: flex;
    justify-content: center;
    img{
      height: 100%;
      width: 100%;
    }
  }
  p{
    padding-bottom: 50px;
    color: $couleur-primaire;
    line-height: 1.9;
    font-size: 14px;
  }
  @media screen and (min-width:700px){
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 100px;
    p{
      font-size: 16px;
      // width: 80%;
    }
    h3{
      margin: 0;
    }
    h2{
      font-size: 32px;
    }
    .unparalleled-img{
    width: 70%;
    }
  }
}